// Fonts
$font-family-body = "Arvo", sans-serif
$font-family-mono = "Source Code Pro", serif
$font-family-tt = "Arvo", sans-serif
$font-size = 1.125rem
$line-height = 1.825
$page-width = 0rem + (hexo-config("page_width") || 39)
// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 50)
// Colors
$colors = hexo-config("colorscheme") || "dark"
