// by @sergodeeva (https://github.com/sergodeeva)
$color-background = #fbfbfb
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-text = #383838
$color-link = lighten($color-text, 30%)
$color-accent-3 = lighten($color-text, 50%)
$color-accent-2 = #1e232f
$color-accent-1 = #0f1626
$color-quote = darken(#ab9874, 10%)
$highlight = hexo-config("highlight") || "atelier-cave-light"
